<main class="mb-auto">
  <div class="container"></div>
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
          <h5 class="text-dark bg-light py-4 mb-0">新規登録</h5>
          <div class="form-body p-4">
            <div class="mx-auto text-center">
              <p>名前・メールアドレス・パスワードを入力してください。</p>
            </div>
            <form action="/users" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="p5Zk0DdszY_i9SQPvX2dxw8Sp5bgDiXr_HXF3StbjfSPrHjnZ7NEqSigH94-Fn5BsmLMJoiuYSOrNknD7jY6yg" autocomplete="off">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-user" aria-hidden="true"></i></span>
                </div>
                <input autofocus="autofocus" placeholder="名前" class="form-control" type="text" name="user[name]" id="user_name">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-envelope" aria-hidden="true"></i></span>
                </div>
                <input autofocus="autofocus" placeholder="メールアドレス" class="form-control" type="email" value="" name="user[email]" id="user_email">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock" aria-hidden="true"></i></span>
                </div>
                <input placeholder="パスワード(6文字以上)" class="form-control" type="password" name="user[password]" id="user_password">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-hidden="true"><i class="fas fa-check-circle" aria-hidden="true"></i></span>
                </div>
                <input placeholder="パスワード確認" class="form-control" type="password" name="user[password_confirmation]" id="user_password_confirmation">
              </div>
              <input type="submit" name="commit" value="サインアップ" class="btn btn-block btn-info mt-5" data-disable-with="サインアップ">
            </form>      
          </div>
        </div>
      </div>
    </div>
</main>